.portfolio {
  padding-top: 107px;
  padding-bottom: 124px;
  overflow: hidden;
  background-color: rgb(244, 248, 249);
  position: relative;
  z-index: 1;
}

.portfolio-header {
  margin-bottom: 62px;
}

.portfolio-filtr {
  display: flex;
  margin-bottom: 50px;
}

.portfolio-filtr__item {
  font-size: 28px;
  font-weight: 700;
  color: #8fa5ae;
  transition: 0.5s;

  & + .portfolio-filtr__item {
    margin-left: 86px;
  }

  &:hover {
    color: #ed574f;
  }

  &:active {
    color: #ed574f;
  }
}

.portfolio-content {
  //   display: flex;
  //   justify-content: space-between;
  // flex-wrap: wrap;
}

.portfolio-row-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;
}

.portfolio-card {
}

.portfolio-card__poster {
  background-color: #fdd446;
  display: block;
  position: relative;
  margin-bottom: 23px;
  overflow: hidden;
}

.portfolio-card__poster::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(251, 219, 77, 0.85);
  // display: none;
  transform: translateY(100%);
  transition: 0.3s;
}

.portfolio-card__poster .more-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #fff;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0;
  transition: 0.5s;
  &:hover {
    background-color: rgba(234, 115, 109, 0.3);
    border-color: rgba(234, 115, 109, 0.3);
  }
  &:active {
    background-color: rgba(234, 115, 109, 0.95);
  }
}

.portfolio-card__poster:hover::before {
  transform: translateY(0%);
  transition: 0.3s;
}

.portfolio-card__poster:hover .more-btn {
  opacity: 1;
  transition: 0.3s;
}

.portfolio-card__descrip {
}

.portfolio-card__descrip-title {
}

.portfolio-card__descrip-title:hover {
  color: rgba(0, 0, 0, 0.7);
}

.portfolio-card__descrip-details {
  font-size: 22px;
  font-weight: 300;
}

.portfolio-row-bottom {
  display: flex;
  justify-content: space-between;
}

.portfolio-card__descrip-title.portfolio-card__descrip-title--small {
  font-size: 26px;
}

.portfolio-card__descrip-details.portfolio-card__descrip-details--small {
  font-size: 20px;
}

// .portfolio-card.portfolio-card--small {
//   width: 33%;
//   max-width: 360px;
//   margin-top: 61px;
// }
